#top, #bottom, #left, #right {
background: #a5ebff;
position: fixed;
}
#left, #right {
top: 0; bottom: 0;
width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
left: 0; right: 0;
height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0px; }



#menu_it a {                    /*каркас*/
 display:block; 
 float:left; 
 color: #003388;
 background-color: #f5f5f5;
 text-align:left; 
 padding: 8px 18px;             /* Поля вокруг текста */

}

#menu_it a:hover {              /*наведение курсора*/
 color: #333;	
 background-color: red;
}

img {display:block;
     position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;}
    
    box1 {
  margin: 25%;
  width:50%;
}